<html>
  <head>
    <title>Todo App</title>
    <link rel="shortcut icon" href="../images/todo.ico">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <link href="/stylesheets/add-player-page.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div>
        <a href="../todo">
          <img src="../images/todo.ico" alt="">
          <label>Todo App</label>
        </a>
      </div>
    This is add page
  </body>
</html>
