<html>
  <head>
    <title>Todo App</title>
    <link rel="shortcut icon" href="../images/todo.ico">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <link href="/stylesheets/add-player-page.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div>
        <a href="../todo">
          <img src="../images/todo.ico" alt="">
          <label>Todo App</label>
        </a>
    </div>
    <br>
    <div>
      <form action="../player/add" method="post">
        <input type="text"name="name" required><br>
        <label class = "add-label">Name :</label><br>
        <input type="text"name="email" required><br>
        <label class = "add-label">Email :</label><br>      
        <input type="text"name="todo" required><br>
        <label class = "add-label">To do :</label><br>        
        <input type="text"name="phonenumber" required><br>
        <label class = "add-label">Phonenumber :</label><br>       
        <input type="text"name="address" required><br>
        <label class = "add-label">Address :</label><br>       
        <textarea name="detail" cols="30" rows="10" required></textarea><br>
        <label class = "add-label">Detail To Do:</label><br><br><br><br>
        <button type="submit" required>Confirm to add</button>
      </form>     
    </div>
  </body>
</html>
