<html>
  <head>
    <title>Todo Play</title>
    <link rel="shortcut icon" href="../images/todo.ico">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <link href="/stylesheets/todo-page.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div>
      <a href="../todo">
        <img src="../images/todo.ico" alt="">
        <label>Todo Play</label>
      </a>
    </div>
    <br>
    <div id="todo-table">
        <form action="../todo/add" method="post">
          <input type="text" name="item" placeholder="Add new item..." required />
          <button class = "add-button" type="submit">Add Item</button>
        </form>
        <ul>
          <% for(data of dataTodo) { %>
            <li><a href="../todo/delete/<%= data.idTodo %>" method="get" required><%= data.itemTodo %></a></li>
          <% } %>
        </ul>
        <form action="../player" method="get">
          <button class="participants-button">Participants List</button>
        </form>
        
    </div>
    
  </body>
</html>
