body{
    background: #0d1521;
    font-family: tahoma;
    color: #989898;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: white;
}
  
td, th {
    text-align: left;
    padding: 8px;
}
  
form {
    display: inline;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}
  
img{
    margin: 0;
    padding-left: 50px;
    width: 3%;
}

label{
    padding-left: 15px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#add-button{
    padding: 20px;
    width: 30%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

#player-table{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

button{
    padding: 13px;
    width: 30%;
    background: #23282e;
    border: 0;
    color: #fff;
    font-size: 17px;
}